html{
    background-color:orange;
}

body {
    background-color: white;
    padding: 1px;
    margin: 0;
    width: 900px;
    text-align: center;
    margin: auto;
}

hr {
    border: solid green; 
    width: 350px;
}


header {
    background-color: white;
    margin: 10px;
    text-align: center;

}
main {
    background-color:white;
    margin: 10px;
}

img {
    width: 350px;
}

.divs-container {
    display: inline-block;
    width: 100%;
}

.div1 {
    border-style: solid;
    border-color: red;
    margin:5px; 
    padding:5px;
    float: left;
    width: 250px;
}

.div2 {
    border-style: solid;
    border-color: red;
    margin:5px; 
    padding:5px;
    float: right;
    width: 250px;
}
